{% extends 'base.html' %} 

{% block content%}

 <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

          <figure class="movie-detail-banner" style="width: 60vw; height:70vh; margin: top 20vh;object-fit: cover;">

            <img src="{{ object.movies_image.url }}" alt="{{ object.title }}" style="">

            <button class="play-btn">
             <a href="{{object.trail_link}}"> <ion-icon name="play-circle-outline" style="color: white;"></ion-icon> </a>
            </button>

          </figure>

          <div class="movie-detail-content">

            <p class="detail-subtitle">Movie details</p>

            <h1 class="h1 detail-title">
             <label style="color:orangered ; opacity:0.8; font-size: 3rem;">NAME:</label> {{ object.title }}
            </h1>

              <!-- delet, update, released date, length of movie, and disctiption of movie section  -->

            <div class="meta-wrapper">

              <div class="badge-wrapper">
                <div class="badge badge-fill"><a href="{% url 'movie-delete' object.id %}">Delete</a></div>
                <div class="badge badge-fill"><a href="{% url 'movie-update' object.id %}">Update</a></div>
              </div>


              <div class="date-time">

                <div>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time datetime="2021">{{ object.released_date }}</time>
                </div>

                <div>
                  <ion-icon name="time-outline"></ion-icon>

                  <time datetime="PT115M">{{ object.length_time }}</time>
                </div>

              </div>

            </div>

            <p class="storyline">
               {{ obj.description }}
            </p>

            <div class="details-actions">
              <div class="title-wrapper">
                <p class="title">Discription</p>

                <p class="text"> {{ object.description }}</p>
              </div>
            </div>

            <!-- watch trailler button -->
            <div class="button">
              <a href="{{object.trail_link}}"><button style="background-color: white; border-radius: 5px;padding:5px;font-size: small;margin-top: 25px; color:blue">watch trailler</button></a>

            </div>

          </div>

        </div>
      </section>

    </article>
  </main>


{% endblock %}
